.container{
  background-image:url("https://cdn.wallpapersafari.com/95/37/GHT30b.jpg");
  background-repeat: no-repeat;
   background-size:cover;
 }
  
  .topnav input[type=text] {
    float: center;
    padding: 10px;
    padding-right: 10%;
    border: none;
    margin-top: 5px;
    margin-right: 0;
    margin-left: 40vw;
    font-size: 17px;
  }

  .topnav button{
    padding: 6px 10px;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    margin-right: 16px;
    margin-left: 2px;
    font-size: 17px;
  }

  /* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */
  @media screen and (max-width: 600px) {
    .topnav a, .topnav input[type=text] {
      float: none;
      display: block;
      text-align: left;
      width: 100vw;
      margin: 0;
      padding: 14px;
    }
    .topnav input[type=text] {
      border: 1px solid #ccc;
    }
  }

.content{
    padding: 16px;
}

.mat-elevation-z4{
  background-color:thistle;
  opacity: 0.9;
  min-height: 90%;
  margin-bottom: 15px;
  font-weight: 500;
  font-size:large;
}

.pagination{
  background-color: snow;
  margin-left: 30vw;
  margin-right: 30vw;
  border-radius: 10px;
  padding-left: 50px;
}

