<app-header></app-header>
<br>
<div class="topnav">
  <input type="text" name="searchfood" #food placeholder="search..." [(ngModel)]="searchitem" (ngModelChange)="search()" />
</div>
<br>
<div class="content">
  <div fxLayout="row wrap" fxLayoutGap="15px grid">
    <div fxFlex="25%" *ngFor="let item of foodlist">
      <mat-card class="mat-elevation-z4">
        <img
          mat-card-image
          src="https://www.nicepng.com/png/detail/214-2148603_you-eat-ready-to-eat-food-icon.png"
        />
        <mat-card-content> {{ item.description }} </mat-card-content>
        <mat-card-content> {{ item.brandowner }} </mat-card-content>
        <mat-card-actions>
          <button mat-button color="primary">Add to favourites</button>
          <button mat-button color="accent">Details</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
