<div class="container">
<form>
    <div class="sub-container">
        <h2>sign-up</h2>
        <labeL>First name </labeL>
        <input type="text" placeholder="&emsp;&emsp;Enter your first name" name="firstname" required/>
<br>
        <label>Last name </label>
        <input type="text" placeholder="&emsp;&emsp;Enter your last name" name="lastname" required />
<br>
        <label>Email</label>
        <input type="text" placeholder="&emsp;&emsp;Enter your email" name="email" required/>
<br>
        <label>Password </label>
        <input type="text" placeholder="&emsp;&emsp;Enter your password" name="password" required/>
        <br>
        <button>signup</button>
    </div>
        
</form>
</div>
